---
import Badge from '../components/Badge.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Hola!, soy Eduardo A. <Badge>Tu proximo gran compañero!</Badge></h1>
		<h2>+ 5 años de experiencia. Desarrollador Web y Creador de Contenido Digital, 
		de Oaxac, Mexico 🇲🇽. Especializado en crear soluciones unicas.</h2>

	</main>
</Layout>

<style>
	
</style>
